<div class="hero__categories__all">
  <i class="fa fa-list"></i>
    <span>All Categories</span>
</div>

          <ul class="nav-fall">
            <li class="charj"><a style="cursor: pointer;"><i class="fa fa-video-camera"></i> Electronic</a>
              <ul class="nav-second-level">
                <li ><a style="cursor: pointer;">
                  <i class="fa fa-angle-right"></i> Computer And Laptop</a></li>
                <li><a style="cursor: pointer;" ><i class="fa fa-angle-right"></i> Computer Hardware</a></li>
                <li><a style="cursor: pointer;" ><i class="fa fa-angle-right"></i> Computer Monitors</a></li>
                <li><a style="cursor: pointer;"><i class="fa fa-angle-right"></i> Computer Accessories</a></li>
                <li><a style="cursor: pointer;"><i class="fa fa-angle-right"></i> Head Phones</a></li>
                <li><a style="cursor: pointer;"><i class="fa fa-angle-right"></i> Tv and Dvd Equipment</a></li>
              </ul>
            </li>
            <li class="charjj"><a style="cursor: pointer;"><i class="fa fa-phone"></i> Mobile & Tablets  </a>
                <ul class="nav-second-level">
                  <li><a style="cursor: pointer;"><i class="fa fa-angle-right"></i> Mobile Phone & Tablet</a></li>
                  <li><a href=""><i class="fa fa-angle-right"></i> Mobile And Tablet Accessories</a></li>
                  <li><a href=""><i class="fa fa-angle-right"></i> Smart Watch and Trackers</a></li>
                  
                </ul>
            </li>
              <li class="charjh"><a style="cursor: pointer;">
                <i class="fa fa-bed"></i> Home,Furniture& Appliance</a>
                <ul class="nav-second-level">
                 
                </ul>
              </li>
              <li class="charjp"><a style="cursor: pointer;"><i class="fa fa-bank"></i> Property</a>
                <ul class="nav-second-level">
               
                </ul>
              </li>
              <li class="charjv"><a style="cursor: pointer;"><i class="fa fa-automobile"></i> Vehicles</a>
                <ul class="nav-second-level">
                
                </ul>
              </li>
              <li class="charjs"><a style="cursor: pointer;"><i class="fa fa-signal"></i> Services</a>
                <ul class="nav-second-level">
                
                </ul>
              </li>
          </ul>
     